body{
    background-color:#D1FFF8;
}
.header{
    height: 100px;
    
}
.geo{
    display:flex;
    align-items:center;
    
    
}
.geo2{
    border-radius: 15px;
}
.geo4{
    font-weight: bold;
    color: black;
}
.contenedor-texto .mascota{
    font-weight: bold;
    color: blue;
    font-style: normal;
}
.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #E6C1EE;
    font-weight: bold;

}
.typed{
    color: #D778EB;
}